@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&family=Protest+Revolution&display=swap');


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    color: #333;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: relative;
}

.home-link-a{
    font-family: 'Protest Revolution', sans-serif;
}

.top-link {
    text-align: center;
    color: #007bff; /* Adjusted color to match the profile_edit.html link */
    height: 30vh;
    justify-self: flex-start;
    font-size: 8em; /* Adjusted font size for better proportion */
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #007bff; /* Adjusted border color */
    border-radius: 4px;
    color: #333; /* Adjusted text color */
    background-color: #f4f4f4; /* Adjusted background color */
}

input[type="text"]:focus,
input[type="password"]:focus {
    background-color: #fff;
    color: #333;
    border: 1px solid #007bff;
    outline: none;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

a {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #007bff;
}

ul.flashes, .flash-messages {
    list-style-type: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

ul.flashes li {
    padding: 8px;
    margin: 5px 0;
    border-radius: 3px;
    font-weight: bold;
}

ul.flashes li.success {
    background-color: #2ecc71;
    color: #333;
}

ul.flashes li.error {
    background-color: #e74c3c;
    color: #333;
}

ul.flashes li.info {
    background-color: #3498db;
    color: #333;
}
