<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Explore Destinations</title>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <style>
        #login-button {
            display: none;
        }
    </style>
    <link rel="stylesheet" href="../static/home.css" />
</head>

<body>

    <div class="uppar-button" id="uppar-button">
        <a href="#home"><box-icon class="up-arrow-class" name='up-arrow-alt'></box-icon></a>
    </div>

    <nav>
        {% if current_user.is_authenticated %}
        <p>Welcome, {{ current_user.name }}!</p>
        {% else %}

        <p>Trippy - Chose Your Destination</p>

        {% endif %}
        <!-- search bar -->
        <div class="search-bar">
            <input type="text" placeholder="Search" />
            <button><box-icon name="search"></box-icon></button>

            {% if current_user.is_authenticated %}
            <div class="profile-dropdown">
                <img src="{{ current_user.get_profile_picture_url() }}" alt="Profile Pic" id="profile-pic" onclick="toggleProfileDropdown()">
                <div class="profile-dropdown-content" id="profile-dropdown-content">
                  <a href="{{ url_for('profile') }}">Profile</a>
                  <a href="{{ url_for('logout') }}">Logout</a>
                </div>
              </div>
            {% else %}
            <div id="login-button">
                <a href="{{ url_for('login') }}">Login</a>
            </div>

            {% endif %}
        </div>
    </nav>
    <div class="collage">
        <div class="collage-item religious">
            <a href="#religious">
                <h2>Religious</h2>
                <video autoplay muted loop>
                    <source src="../static/Videos/religious.mp4" type="video/mp4" />
                </video>
            </a>
        </div>
        <div class="collage-item mountains">
            <a href="#mountainous">
                <h2>Mountains</h2>
                <video autoplay muted loop>
                    <source src="../static/Videos/mountain.mp4" type="video/mp4" />
                </video>
            </a>
        </div>
        <div class="collage-item beaches">
            <a href="#beaches">
                <h2>Beaches</h2>
                <video autoplay muted loop>
                    <source src="../static/Videos/vid_beach.mp4" type="video/mp4" />
                </video>
            </a>
        </div>
        <div class="collage-item historical">
            <a href="#historical">
                <h2>Historical</h2>
                <video autoplay muted loop>
                    <source src="../static/Videos/historical.mp4" type="video/mp4" />
                </video>
            </a>
        </div>
        <div class="collage-item deserts">
            <a href="#deserts">
                <h2>Deserts</h2>
                <video autoplay muted loop>
                    <source src="../static/Videos/desert.mp4" type="video/mp4" />
                </video>
            </a>
        </div>
    </div>

    <div class="hr"></div>

    <h1 class="heading-locations">Famous Locations</h1>
    <div class="category-container">

    {% set categories = ['religious', 'mountainous', 'beaches', 'historical', 'desert'] %}
    {% for category in categories %}
    <h2 class="category-heading">{{ 'Top ' + category + ' Places' }}</h2>
    <div class="location-container">
        {% for location in data %}
            {% if location.category == category %}
                <a href="{{ url_for('destination_page', destination_name=location.name) }}"><div class="location-div" id="{{ location.category }}">
                    <img src="{{ location.image }}" alt="location image"  />
                    <p class="name">{{location.name}}</p>
                    <p class="price">Price : {{location.price}}</p>
                    <p   class="rating">Rating : {{location.rating}}/5 </p>
                    <p class="discription">{{location.description}}</p>
                </div></a>
            {% endif %}
        {% endfor %}
    </div>
    <div class="hr"></div>
    {% endfor %}
    </div>
    <script>
        var isLoggedIn = "{{ current_user.is_authenticated }}";
        var loginButton = document.getElementById("login-button");
        loginButton.classList.toggle("hidden", isLoggedIn);


        function toggleProfileDropdown() {
            var dropdown = document.getElementById("profile-dropdown-content");
            dropdown.style.display = dropdown.style.display === "block" ? "none" : "block";
          }
          
          // Close the dropdown if the user clicks outside of it
          window.onclick = function (event) {
            if (!event.target.matches('#profile-pic')) {
              var dropdown = document.getElementById("profile-dropdown-content");
              if (dropdown.style.display === "block") {
                dropdown.style.display = "none";
              }
            }
          };
    </script>
    <script>
        window.addEventListener("scroll", function () {
            var backToTopButton = document.getElementById("uppar-button");
            if (window.scrollY > 200) {
                backToTopButton.style.display = "block";
            } else {
                backToTopButton.style.display = "none";
            }
        });
        
        document.getElementById("uppar-button").addEventListener("click", function () {
            window.scrollTo({ top: 0, behavior: "smooth" });
        });
        
    </script>
</body>

</html>