<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore Destinations</title>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <style>
        #login-button {
            display: none;
        }
    </style>
    <link rel="stylesheet" href="../static/home.css">
</head>

<body>

    <nav>

        {% if current_user.is_authenticated %}
        <p>Welcome, {{ current_user.name }}!</p>
        {% else %}
      
        <p>Trippy - Chose Your Destination</p>

        {% endif %}
        <!-- search bar -->
        <div class="search-bar">
            <input type="text" placeholder="Search">
            <button><box-icon name='search'></box-icon></button>

            {% if current_user.is_authenticated %}
            <div id="login-button">
                <a href="{{ url_for('logout') }}">Logout</a>
            </div>
            {% else %}
            <div id="login-button">
                <a href="{{ url_for('login') }}">Login</a>
            </div>
    
            {% endif %}


           
        </div>

    </nav>
    <div class="collage">
        <div class="collage-item religious">
            <a href="#">
                <h2>Religious</h2>
                <video autoplay muted loop>
                    <source src="../static/Videos/religious.mp4" type="video/mp4">

                </video>
            </a>
        </div>
        <div class="collage-item mountains">
            <a href="#">
                <h2>Mountains</h2>
                <video autoplay muted loop>
                    <source src="../static/Videos/mountain.mp4" type="video/mp4">
            </a>

            </video>
        </div>
        <div class="collage-item beaches">
            <a href="#">
                <h2>Beaches</h2>
                <video autoplay muted loop>
                    <source src="../static/Videos/vid_beach.mp4" type="video/mp4">


                </video>
            </a>
        </div>
        <div class="collage-item historical">
            <a href="#">
                <h2>Historical</h2>
                <video autoplay muted loop>
                    <source src="../static/Videos/historical.mp4" type="video/mp4">


                </video>
            </a>
        </div>
        <div class="collage-item deserts">
            <a href="#">
                <h2>Deserts</h2>
                <video autoplay muted loop>
                    <source src="../static/Videos/desert.mp4" type="video/mp4">


                </video>
            </a>
        </div>
    </div>

   <div class="hr"></div>



   <script>
    // Check if the user is logged in
    var isLoggedIn = "{{ current_user.is_authenticated }}";

    // Get the login button element
    var loginButton = document.getElementById("login-button");

    // Show the login button if the user is not logged in
    loginButton.classList.toggle("hidden", isLoggedIn);
</script>   


</body>

</html>